<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/"> Home</a>
        <a href="/election/"> Election List</a>
        <a href="/demo/"> Demo</a>
        <a href="/students/"> Students</a>
    </nav>
    <hr>
    {%block content%}
    {%endblock%}
    <hr>
    <footer>
        <p>@ this is simple pracice class</p>
    </footer>
</body>
</html>