<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html'%}
    {%block content%}
    <h1> these are detail of details</h1>
    {% for detail in details %}
    <h2> name = {{detail.name}}</h2>
    <h2> Course = {{detail.Course|upper}}</h2>
    <h2> city = {{detail.city|default:"Not specified"}}</h2>
    <p> students = {{detail.students|length}}</p>
    {% endfor %}
    {%endblock%}
</body>
</html>