<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>check the result</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Eligibility</th>

            </tr>
        </thead>
        <tbody>
            {% for voter in voters %}
            <tr>
                <td>{{voter.name}}</td>
                <td>{{voter.age}}</td>
                <td>{{voter.gender}}</td>
                {% if voter.age >= 18%}
                <td>he can vote</td>
                {%else%}
                <td>he cannot vote</td>
                {%endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>